<div class="clearfix">
<div class="followicon"></div>
{% if widget.fblink != "" %}
<a href="{{ widget.fblink }}"><img alt="youtube" src="{{ asset('bundles/flouvideowidget/images/iconfb.png') }}"/></a>
{% endif %}
{% if widget.googlelink != "" %}
<a href="{{ widget.googlelink }}"><img alt="google plus" src="{{ asset('bundles/flouvideowidget/images/icongp.png') }}"/></a>
{% endif %}
{% if widget.twitterlink != "" %}
<a href="{{ widget.twitterlink }}"><img alt="Youtube" src="{{ asset('bundles/flouvideowidget/images/icontwitter.png') }}"/></a>
{% endif %}
{% if widget.ytlink != "" %}
<a href="{{ widget.ytlink }}"><img alt="Youtube" src="{{ asset('bundles/flouvideowidget/images/iconyt.png') }}"/></a>
{% endif %}
{% if widget.xinglink != "" %}
<a href="{{ widget.xinglink }}"><img alt="Youtube" src="{{ asset('bundles/flouvideowidget/images/iconxing.png') }}"/></a>
{% endif %}
{% if widget.inlink != "" %}
<a href="{{ widget.inlink }}"><img alt="Youtube" src="{{ asset('bundles/flouvideowidget/images/iconin.png') }}"/></a>
{% endif %}
</div>