{% extends 'FlouVideoManagerBundle::internlayout.html.twig' %}


{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('user_info') }}"><span class="label">Kontoinformationen</span></a></li>
	<li><a href="{{ path('fos_user_change_password') }}"><span class="label">Passwort ändern</span></a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Benutzerinformationen</h2>
<hr/>
<p>Benutzername: {{ user.username }}</p>
<p>E-Mail: {{ user.email }}</p>
<h2>Webseiten</h2>
<hr/>
{% for website in websites %}
<p><a href="http://{{ website.name }}" target="_blank">http://{{ website.name }}</a></p>
{% endfor %}

{% endblock %}

{% block help %}
<p>Hier stehen allgemeine Informationen über Ihren Kanal und Ihr Konto.</p>
{% endblock %}