{% extends 'FlouVideoManagerBundle::internlayout.html.twig' %}

{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('video_list') }}"><span class="label">Liste</span></a></li>
	<li><a href="{{ path('video_serverupload') }}"><span class="label">Video hochladen</span></a></li>
	<li><a href="{{ path('video_ytlink') }}"><span class="label">Youtube Video</span></a></li>
	{% if app.user.channel.playlistenabled %}
	<li><a href="{{ path('playlist_list') }}"><span class="label">Playlisten</span></a></li>
	<li><a href="{{ path('playlist_new') }}"><span class="label">Neue Playlist</span></a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
<h2>Vorschaubild ändern</h2>
<hr/>

<form action="" method="post" {{ form_enctype(form) }}>

	<div class="formwrapper">
	<fieldset>
	<legend>Aktuelles Bild</legend>
	<div style="text-align:center;">
	<img src="{{ asset('uploads/playlists/' ~ channelid ~ '/' ~ playlistid ~ '_big.jpg')}}?dummy={{ random() }}" alt="picture"/>
	</div>
	</fieldset>
	<div class="clear"></div>
	<fieldset>
	<legend>Neues Bild (16:5)</legend>
	{{ form_widget(form) }}
	</fieldset>
	<div class="clear"></div>
	
    <input class="greenbutton" type="submit" />
    </div>
</form>

{% endblock %}

{% block help %}
<p>Auf dieser Seite können Sie das Vorschaubild für Ihre Playlist bearbeiten. Nachdem Sie das Bild geänder haben könnte es einige Zeit dauern bis das neue Bild angezeigt wird. Sie finden eine ausführliche Beschreibung in der <a href="http://help.dif-webtv.de">Hilfe</a>.</p>
{% endblock %}

{% block specjavascripts %}
{% endblock %}