{% extends 'FlouVideoManagerBundle::internlayout.html.twig' %}

{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('page_list') }}"><span class="label">Liste</span></a></li>
	<li><a href="{{ path('page_new') }}"><span class="label">Neue Seite</span></a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Seitenliste</h2>
<hr/>
<form action="" method="post">
<div class="formwrapper">
{% for page in pages %}

	<div class="pagelistitem">
	<div class="pagelistcheckbox"><input type="checkbox" name="selectedpage[]" value="{{ page.id }}"></input></div>
	<div class="innerpagelistitem">
		<div class="title">
		{% if page.hyperlink != '' %}
			<span class="hyperlinkbutton"></span>{{ page.title.titlede }}
		{% else %}
			{{ page.title.titlede }}
		{% endif %}
		</div>
		<div class="description">
			<div class="descriptionitem">Position: {{ page.pageposition.position }}</div>
			<div class="descriptionitem">Anordnung: {{ page.orderrank }}</div>
			<div class="descriptionitem">Gruppe: {{ page.group.titlede }}</div>
		</div>
	</div>
	<a href="{{ path('page_edit', { 'pageid': page.id }) }}"><span class="editbutton">Ändern</span></a>
	<a href="javascript:decision('Seite wirklich löschen?','{{ path('page_delete', { 'pageid': page.id }) }}')"><span class="deletebutton">Löschen</span></a>
	<div class="clear"></div>
	</div>
{% endfor %}


	<fieldset>
	<legend>Auswahl ändern</legend>
	<div><label for="positionid">Positon <input type="checkbox" name="changeposition" value="1"></label>
	<select name="positionid" id="positionid">
	{% for position in positions %}
	<option value="{{ position.id }}">{{ position.position }}</option>
	{% endfor %}
	</select>
	</div>
	<div><label for="groupname_de">Gruppe deutsch <input type="checkbox" name="changegroup_de" value="1"></label><input name="groupname_de" type="text" maxlength="30" id="groupname_de"></input></div>
	<div><label for="groupname_en">Gruppe englisch <input type="checkbox" name="changegroup_en" value="1"></label><input name="groupname_en" type="text" maxlength="30" id="groupname_en"></input></div>
	<div><label for="groupname_fr">Gruppe franzözisch <input type="checkbox" name="changegroup_fr" value="1"></label><input name="groupname_fr" type="text" maxlength="30" id="groupname_fr"></input></div>
	</fieldset>
</div>
<input class="greenbutton" type="submit" />
</form>

{% endblock %}

{% block specjavascripts %}
<script language="Javascript">
<!---
function decision(message, url){
if(confirm(message)) location.href = url;
}
// --->
</script>
{% endblock %}

{% block help %}
<p>In dieser Liste werden alle von Ihnen entworfenen Seiten aufgelistet.</p>
{% endblock %}