{% extends "FlouVideoManagerBundle::layout.html.twig" %}
{% block sidemenu %}
<img src="{{ asset('bundles/flouvideomanager/images/key.png') }}" style="margin:50px 10px;">
{% endblock %}

{% block precontent %}
<h2>Login</h2>
<hr/>
{% if error %}
    <div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">

	<div class="formwrapper">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <fieldset>
	<legend>Benutzerdaten</legend>
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="formwidth" />
    <div class="clear"></div>
    
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" class="formwidth"/>
	<div class="clear"></div>
	
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	</fieldset>
    <div class="clear"></div>
    
    <input type="submit" id="_submit" name="_submit" class="greenbutton floatright" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    <div class="clear"></div>
    </div>
</form>
{% endblock precontent %}