<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/flouvideomanager/css/reset.css') }}"/>
<style type="text/css">
html {
overflow:hidden;
}
</style>
</head>
<body>
<div id="playercontainer">Loading...</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('bundles/flouvideomanager/js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>

<script type="text/javascript" src="{{ asset('bundles/flouvideoasset/jwplayer/jwplayer.js') }}"></script>
<script type="text/javascript">

	document.addEventListener("fullscreenchange", backfromfullscreen, false);
	document.addEventListener("mozfullscreenchange", backfromfullscreen, false);
	document.addEventListener("webkitfullscreenchange", backfromfullscreen, false);

	function backfromfullscreen()
	{
	}
	
	function itemchanged(number)
	{
		
	}

	window.setvideo = function(number)
	{
		jwplayer().playlistItem(number);
	}

	function fullscreen() {
	  var element = document.getElementById("playercontainer");
	 
	  if (element.requestFullScreen) {
	    element.requestFullScreen();
	  } else if (element.mozRequestFullScreen) {
	    element.mozRequestFullScreen();
	  } else if (element.webkitRequestFullScreen) {
	    element.webkitRequestFullScreen();
	  }
	}

	function cancelfullscreen(){
		if (document.cancelFullScreen) {
	      document.cancelFullScreen();
	    } else if (document.mozCancelFullScreen) {
	      document.mozCancelFullScreen();
	    } else if (document.webkitCancelFullScreen) {
	      document.webkitCancelFullScreen();
	    }
	}
</script>

<div id='mediaplayer'></div>

<script type="text/javascript">
		jwplayer('playercontainer').setup({
			controlbar: 'over',
			height: $(window).height(),
			width: $(window).width(),
			{% if autostart is defined and autostart %}
			'autostart': true,
			{% endif %}
			modes: [{% if not html5 %}
				{ type: "flash", src: "{{ asset('bundles/flouvideoasset/jwplayer/player.swf') }}",
					config: {
						'playlist': [
				
							{% if playlist is defined %}
							{% for item in playlist.videos %}
							{
								'title': '{{ item.title }}',
								'image': '{{ asset('uploads/videos/'~item.channel~'/'~item.id~'_big.jpg') }}',
								'duration': '{{ item.duration }}',
								{% if item.rtmp != "" %}
									'file': '{{ item.s3key }}',
									'provider': 'rtmp',
									'streamer': '{{ item.rtmp }}/cfx/st'
								{% else %}
									'file': '{{ item.http }}'
								{% endif %}
							},
							{% endfor %}
							{% endif %}
						             
							{% if video is defined %}
							{
								'image': '{{ asset('uploads/videos/'~video.channel~'/'~video.id~'_big.jpg') }}',
								'title': '{{ video.title }}',
								'duration': '{{ video.duration }}',
								{% if video.rtmp != "" %}
								'file': '{{ video.s3key }}',
								'provider': 'rtmp',
								'streamer': '{{ video.rtmp }}/cfx/st'
								{% else %}
								'file': '{{ video.http }}'
								{% endif %}
							},
							{% endif %}
						]
						} },{% endif %}
				
				{ type: "html5",
					config: {
						'playlist': [
							{% if playlist is defined %}
							{% for item in playlist.videos %}
								{
								'file': '{{ item.http }}',
								'image': '{{ asset('uploads/videos/'~item.channel~'/'~item.id~'_big.jpg') }}',
								'title': '{{ item.title }}',
								'duration': '{{ item.duration }}'
								},
							{% endfor %}
							{% endif %}
							         
							{% if video is defined %}
							{
								'file': '{{ video.http }}',
								'image': '{{ asset('uploads/videos/'~video.channel~'/'~video.id~'_big.jpg') }}',
								'title': '{{ video.title }}',
								'duration': '{{ video.duration }}'
							},
							{% endif %}
						]
						} }
			],
			'events': {
			   onPlaylistItem: function(event) {
				itemchanged(event.index);
			   },
			   onReady: function(event) {
			   },
				onFullscreen: function(event){
					if(event.fullscreen && jwplayer().getRenderingMode() == "html5"){
				   		fullscreen();
					}else if(jwplayer().getRenderingMode() == "html5"){
						cancelfullscreen();
					}
			   }
			  },
			repeat: 'always'
		});
</script>
			
</body>
</html>