{% extends 'FlouVideoManagerBundle::internlayout.html.twig' %}

{% block sidemenu %}
<ul id="sidemenulist">
	<li><a href="{{ path('channel_edit') }}"><span class="label">Einstellungen</span></a></li>
	<li><a href="{{ path('design_color') }}"><span class="label">Farben</span></a></li>
	<li><a href="{{ path('design_template') }}"><span class="label">Template</span></a></li>
</ul>
{% endblock %}

{% block content %}
<h2>Kannal-Einstellungen</h2>
<hr/>
<form action="" method="post" {{ form_enctype(form) }}>

	<div class="formwrapper">
	<fieldset>
	<legend>Dateien</legend>
	<a href="javascript:mcFileManager.open('example1','url');">[FileManager]</a>
	</fieldset>
	<fieldset>
	<legend>Optionen</legend>
	{{ form_row(form.channelname) }}
	{{ form_row(form.use_html5) }}
	{{ form_row(form.use_hyphernate) }}
	{{ form_row(form.fbid) }}
	{{ form_row(form.contactemail) }}
	</fieldset>
	<fieldset>
	<legend>Startseite</legend>
	{{ form_row(form.defaultpage) }}
	</fieldset>
	
	<fieldset>
	<legend>Sprachen</legend>
		{{ form_row(form.language_de) }}
		{{ form_row(form.language_en) }}
		{{ form_row(form.language_fr) }}
	</fieldset>
	
    {{ form_widget(form) }}

    <input class="greenbutton" type="submit" />
    </div>
</form>
<h2>Hyperlinks</h2>
<hr/>
TV: <a href="{{ path('page_new', { 'hyperlink': path('tv_playlist'), 'titlede': 'TV', 'titleen': 'TV', 'titlefr': 'TV' }) }}">Hyperlink erstellen</a><br/>
Kontakt: <a href="{{ path('page_new', { 'hyperlink': path('tv_contact'), 'titlede': 'Kontakt' }) }}">Hyperlink erstellen</a>
{% endblock %}

{% block specjavascripts %}
<iframe height="0" width="0" src="{{ asset('bundles/flouvideoasset/mceSessionWriter.php') }}"></iframe>
<script type="text/javascript" src="{{ asset('bundles/flouvideoasset/tiny_mce/plugins/filemanager/js/mcfilemanager.js') }}"></script>
{% endblock %}

{% block help %}
<p>In diesem Menü können Sie die Eigenschaften Ihres Kanals bearbeiten. Sie finden eine ausführliche Beschreibung in der <a href="http://help.dif-webtv.de/tv/page/43">Hilfe</a>.</p>
{% endblock %}