<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ info.language }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/flouvideomanager/css/noirstyle.css') }}"/>
  <link rel="stylesheet" type="text/css" media="print" href="{{ asset('bundles/flouvideomanager/css/noirstyleprint.css') }}"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">
  
  <!--User Design -->
  <style type="text/css" media="screen">
  {% autoescape false %}
  
  {# COLOR1 #}
  {% if design.color1 != '' %}
  html, body {
  	background-color:#{{ design.color1 }};
  }
  {% endif %}
  
  html, body{
  font-size:{{ design.fontsize }}px;
  }
  
  {# COLOR2 #}
  {% if design.color2 != '' %}
	  .outertopmenu, footer{
	  {% if design.color2 == design.color1 %}
		background:none;
		border:none;
	  {% else %}
		{{ gradient({'0%':['#',lighten(design.color2, 10)]|join, '100%':['#',darken(design.color2, 25)]|join}) }}
	    border-top:1px solid #{{ lighten(design.color2, 70) }};
	  {% endif %}
	  }
  {% endif %}
  
  {# COLOR3 #}
  {% if design.color3 != '' %}
  .menu1grouplist, .menu2grouplist{
  	{{ gradient({'0%':['#',design.color3]|join, '100%':['#',darken(design.color3, 30)]|join}) }}
  	border-top:1px solid #{{ lighten(design.color3, 70) }};
  }
  {% endif %}
  
  {# HOVERCOLOR1 #}
  {% if design.hovercolor1 != '' %}
  	.content_right, .content_left, .widget3, .widget4{
	  	background-color:#{{ design.hovercolor1 }};
	  	{% if design.hovercolor1 != design.color1 %}
	  	border:1px solid #{{ darken(design.hovercolor1, 30) }}
	  	{% endif %}
  	}
  {% endif %}
  
  {# HOVERCOLOR2 #}
  {% if design.hovercolor2 != '' %}
	.menu1singleitem a:hover, .menu2singleitem a:hover{
		background-color:#{{ design.hovercolor2 }};
	}
	
	.menu1groupitem:hover, .menu2groupitem:hover{
		background-color:#{{ design.hovercolor2 }};
	}
  {% endif %}
  
  {# HOVERCOLOR3 #}
  {% if design.hovercolor3 != '' %}
	.menu1grouplistitem a:hover, .menu2grouplistitem a:hover{
		background-color:#{{ design.hovercolor3 }};
	}
  {% endif %}
  
  {# HEADINGCOLOR #}
  {% if design.headingcolor != '' %}
  h1, h2, h3, h4, h5, h6{
  	color:#{{ design.headingcolor }}
  }
  .menu3head, .widget3head{
  	color:#{{ design.headingcolor }};
  	border-color:#{{ design.headingcolor }};
  }
  
  {% endif %}
  
  {# HEADINGFONT #}
  {% if design.headingfont != '' %}
  h1, h2, h3, h4, h5, h6, .menu3head, .menu4head, .widget3head{
  	font-family:{{ design.headingfont }};
  }
  {% endif %}
  
  {# FONT #}
  {% if design.font != '' %}
  .header, #outercontentwrapper{
  	font-family:{{ design.font }};
  }
  {% endif %}
  
  {# FONTCOLOR1 #}
  {% if design.fontcolor1 != '' %}
  .header{
  	color:#{{ design.fontcolor1 }};
  }
  {% endif %}
  
  {# FONTCOLOR2 #}
  {% if design.fontcolor2 != '' %}
  #copyright, #footermenu{
  	color:#{{ design.fontcolor2 }};
  }
  {% endif %}
  
  {# FONTCOLOR3 #}
  {% if design.fontcolor3 != '' %}
  {% endif %}
  
  {# HOVERFONTCOLOR1 #}
  {% if design.hoverfontcolor1 != '' %}
  .content_right, .content_left, .widget3, .widget4{
  	color:#{{ design.hoverfontcolor1 }};
  }
  {% endif %}
  
  {# HOVERFONTCOLOR2 #}
  {% if design.hoverfontcolor2 != '' %}
  {% endif %}
  
  {# HOVERFONTCOLOR3 #}
  {% if design.hoverfontcolor3 != '' %}
  {% endif %}
  
  {# LINKCOLOR1 #}
  {% if design.linkcolor1 != '' %}
  .header a, .header a:hover{
  	color:#{{ design.linkcolor1 }};
  }
  {% endif %}
  
  {# LINKCOLOR2 #}
  {% if design.linkcolor2 != '' %}
  .menu1groupitem a, .menu2groupitem a{
  	color:#{{ design.linkcolor2 }};
  }
  .menu1groupitem, .menu2groupitem{
  	color:#{{ design.linkcolor2 }};
  }
  #copyright a, #footermenu a{
  	color:#{{ design.linkcolor2 }};
  }
  {% endif %}
  
  {# LINKCOLOR3 #}
  {% if design.linkcolor3 != '' %}
  .menu1grouplistitem a, .menu2grouplistitem a{
  	color:#{{ design.linkcolor3 }};
  }
  {% endif %}
  
  {# HOVERLINKCOLOR1 #}
  {% if design.hoverlinkcolor1 != '' %}
  .content_right a, .content_right a:hover, .content_left a, .content_left a:hover, .widget3 a, .widget3 a:hover, .widget4 a, .widget4 a:hover{
  	color:#{{ design.hoverlinkcolor1 }};
  }
  .menu3groupitem li{
  	color:#{{ design.hoverlinkcolor1 }};
  }
  {% endif %}
  
  {# HOVERLINKCOLOR2 #}
  {% if design.hoverlinkcolor2 != '' %}
  .menu1groupitem:hover .menu1head a, .menu1head:hover a, .menu2groupitem:hover .menu2head a, .menu2head:hover a{
  	color:#{{ design.hoverlinkcolor2 }};
  }
  .menu1groupitem:hover, .menu2groupitem:hover{
  	color:#{{ design.hoverlinkcolor2 }};
  }
  #copyright a:hover, #footermenu a:hover{
  	color:#{{ design.linkcolor2 }};
  }
  {% endif %}
  
  {# HOVERLINKCOLOR3 #}
  {% if design.hoverlinkcolor3 != '' %}
  .menu1grouplistitem a:hover, .menu2grouplistitem a:hover{
  	color:#{{ design.hoverlinkcolor3 }};
  }
  {% endif %}
  
  {% if trigger.menu3 == false and trigger.widget3 == false %}
  	.content_right, .content_left, .widget4{
  	width:930px;
  	float:left;
  	}
  {% endif %}
  
  {% endautoescape %}
  </style>
  

  {% block htmlhead %}
  {% endblock %}
  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{{ asset('bundles/flouvideomanager/js/libs/modernizr-2.5.3.min.js') }}"></script>
</head>
<body>
{% block facebookid %}
{% endblock %}
<div id="wrap">

		

		{% if trigger.menu1 %}
		<div class="outertopmenu">
			<div class="innertopmenu center clearfix">
			{% block menu1 %}
 			{% endblock %}
			</div>
		</div>
		{% endif %}

	<header class="header center">
	{% block widget1 %}
 	{% endblock %}
	</header>
	<div id="main" class="clearfix">
 		
 		{% if trigger.menu2 %}
		<div class="outertopmenu">
			<div class="innertopmenu center clearfix">
			{% block menu2 %}
 			{% endblock %}
			</div>
		</div>
		{% endif %}
		
		{% if trigger.playlist or trigger.video %}
		<div id="outerribbon">
			<div id="innerribbon" class="center clearfix">
				<div id="outervideowrapper" class="precenter">
					<div id="innervideowrapper" class="center" style="width:880px">
						{% set playerwidth = 880 %}
						{% set playerheight = 495 %}
						{% block video %}
 						{% endblock %}
 					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		<div id="outercontentwrapper">
			<div id="innercontentwrapper" class="center clearfix">
				<div style="float:left;">
				<div class="content_left clearfix">
					{% block widget2 %}
 					{% endblock %}
					{% block content %}
 					{% endblock %}
 				</div>
 				{% block widget4 %}
				{% endblock %}
				</div>
				{% if trigger.menu3 %}
				<div class="content_right clearfix">
					
					<div class="menublock">
					{% block menu3 %}
	 				{% endblock %}
	 				</div>
	 				
	 			</div>
	 			{% endif %}
	 			
	 			
	 			{% block widget3 %}
 				{% endblock %}
 				
			</div>
		</div>
	</div>
</div>

<footer>
<div id="footermenu" class="center clearfix">

{% block menu4 %}
{% endblock %}
{% if channel.language_de or channel.language_en or channel.language_fr %}
{% block language %}
{% endblock %}

{% endif %} 
</div>
{% block copyright %}
{% endblock %}
</footer>

  <!-- JavaScript at the bottom for fast page loading -->
  {% block scripts %}
  {% endblock %}

  
    <script type="text/javascript">
	$(document).ready(function()
	{
	  var footersize = $("footer").height();
	  var el=$('footer');
	  el.css('margin-top', (-footersize-1)+'px');
	  var el2=$('#main');
	  el2.css('padding-bottom', (footersize+6)+'px');
	});
	</script>
	  <!-- end scripts -->
</body>
</html>